[access]
	inheritFrom = ESOA
[access "refs/*"]
	owner = group ESOA-admins
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = group Anvil
	read = group BOS_Guard
	read = group EO App Staging
	read = group ESOA-admins
	read = group ESO_arabian_guard
	read = group ESO_artic_guard
	read = group ESO_atlantic_guard
	read = group ESO_caspian_guard
	read = group ESO_improvisers_guard
	read = group ESO_pacific_guard
	read = group ESO_scrumbledores_guard
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	forgeAuthor = group ESOA-admins
	forgeServerAsCommitter = group ESOA-admins
	label-Verified = -1..+1 group Anvil
	label-Verified = -1..+1 group BOS_Guard
	label-Verified = -1..+1 group ESOA_PE_users
	label-Verified = -1..+1 group ESO_arabian_guard
	label-Verified = -1..+1 group ESO_artic_guard
	label-Verified = -1..+1 group ESO_atlantic_guard
	label-Verified = -1..+1 group ESO_caspian_guard
	label-Verified = -1..+1 group ESO_improvisers_guard
	label-Verified = -1..+1 group ESO_pacific_guard
	label-Verified = -1..+1 group ESO_scrumbledores_guard
	rebase = group Registered Users
[access "refs/for/refs/*"]
	push = group Anvil
	push = group ESO_arabian_guard
	push = group ESO_artic_guard
	push = group ESO_atlantic_guard
	push = group ESO_caspian_guard
	push = group ESO_improvisers_guard
	push = group ESO_pacific_guard
	push = group ESO_scrumbledores_guard
	push = group Registered Users
	pushMerge = group Anvil
	pushMerge = group ESO_arabian_guard
	pushMerge = group ESO_artic_guard
	pushMerge = group ESO_atlantic_guard
	pushMerge = group ESO_caspian_guard
	pushMerge = group ESO_improvisers_guard
	pushMerge = group ESO_pacific_guard
	pushMerge = group ESO_scrumbledores_guard
	label-Code-Review = -1..-1 group Registered Users
[access "refs/heads/*"]
	create = group Anvil
	create = group ESOA-admins
	create = group ESO_arabian_guard
	create = group ESO_artic_guard
	create = group ESO_atlantic_guard
	create = group ESO_caspian_guard
	create = group ESO_improvisers_guard
	create = group ESO_pacific_guard
	create = group ESO_scrumbledores_guard
	label-Code-Review = -2..+2 group Anvil
	label-Code-Review = -2..+2 group BOS_Guard
	label-Code-Review = -2..+2 group ESO_arabian_guard
	label-Code-Review = -2..+2 group ESO_artic_guard
	label-Code-Review = -2..+2 group ESO_atlantic_guard
	label-Code-Review = -2..+2 group ESO_caspian_guard
	label-Code-Review = -2..+2 group ESO_improvisers_guard
	label-Code-Review = -2..+2 group ESO_pacific_guard
	label-Code-Review = -2..+2 group ESO_scrumbledores_guard
	labelAs-Verified = -1..+1 group ESO_arabian_guard
	labelAs-Verified = -1..+1 group ESO_artic_guard
	labelAs-Verified = -1..+1 group ESO_atlantic_guard
	labelAs-Verified = -1..+1 group ESO_caspian_guard
	labelAs-Verified = -1..+1 group ESO_improvisers_guard
	labelAs-Verified = -1..+1 group ESO_pacific_guard
	labelAs-Verified = -1..+1 group ESO_scrumbledores_guard
	labelAs-Verified = -1..+1 group Registered Users
	submit = group Anvil
	submit = group ESOA-admins
	submit = group ESO_arabian_guard
	submit = group ESO_artic_guard
	submit = group ESO_atlantic_guard
	submit = group ESO_caspian_guard
	submit = group ESO_improvisers_guard
	submit = group ESO_pacific_guard
	submit = group ESO_scrumbledores_guard
	label-Submit-To-Pipeline = +0..+1 group Anvil
	label-Submit-To-Pipeline = +0..+1 group BOS_Guard
	label-Submit-To-Pipeline = +0..+1 group EO App Staging
	label-Submit-To-Pipeline = +0..+1 group ESO_arabian_guard
	label-Submit-To-Pipeline = +0..+1 group ESO_artic_guard
	label-Submit-To-Pipeline = +0..+1 group ESO_atlantic_guard
	label-Submit-To-Pipeline = +0..+1 group ESO_caspian_guard
	label-Submit-To-Pipeline = +0..+1 group ESO_improvisers_guard
	label-Submit-To-Pipeline = +0..+1 group ESO_pacific_guard
	label-Submit-To-Pipeline = +0..+1 group ESO_scrumbledores_guard
[access "refs/tags/*"]
	create = group ESOA-admins
	push = group ESOA-admins
[access "^refs/for/refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[label "Submit-To-Pipeline"]
	function = NoBlock
	value =  0
	value = +1
	defaultValue = 0
